body {
    background-color: rgb(119, 119, 119);
    color: white;
    font-family: sans-serif;
    font-size: 22pt;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    color: white;
}


p {
    color: rgb(123, 218, 255);
    font-style: italic;
}

span {
    content: "\221A";
}

img {
    height: 300px;
    border-radius: 5%;
}

.wichtig {
    color: rgb(83, 0, 0);
    font-weight: bold;
    font-style: normal;
}

.variable {
    color: rgb(255, 255, 121);
    display: inline;
    font-style: italic;
    font-weight: bold;
}

.antwort {
    font-family: sans-serif;
    font-style: italic;
}

.richtig {
    color: rgb(72, 253, 72);
}

.falsch {
    color: rgb(255, 0, 85);
}

.freshField {
    width: 5%;
}